---
layout: default
title: Blog Posts
---

<div id="home">
  <h2><i class="fa fa-bookmark"></i> Blog Posts</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2><i class="fa fa-bullhorn"></i> Talks</h2>
  <ul id="blog-posts" class="posts">
    {% for talk in site.data.talks %}
      <li><span>{{talk.date}} &raquo;</span>
          <a href="{{ talk.url }}">{{ talk.title }}</a>
          <span>&raquo; <a href="{{ talk.slides }}">Slides</a></span>
      </li>
    {% endfor %}
  </ul>


  <h2><i class="fa fa-github"></i> Projects</h2>
  <ul id="project-posts" class="posts">
    {% for project in site.data.projects %}

    <li>
    <a href="{{project.link}}">{{project.name}}</a><br>
    <img src="{{project.image}}">

    <ul>
        {% for point in project.description %}
        <li>{{point}}</li>
        {% endfor %}
    </ul>

    <br>
    </li>
    {% endfor %}

  </ul>

</div>